@import "tailwindcss";

body {
  background-color: #f6f4f1;
  color: #2a2929;
}

main {
  display: flex;
  flex-direction: column-reverse;
  min-height: 100dvh;
  padding: 0.625rem;
}

h1 {
  font-size: clamp(2.875rem, 0.025rem + 14.25vw, 17.125rem);
  line-height: 1;
  text-transform: uppercase;
}